
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-8 mt-5">
        <video width="820" height="480" controls>
        <source src="\videos\video.mp4" type="video/mp4">
        </video>
      <h4 class="mt-3">Sobre nosotros</h4>
      <p>iTechShop es una página de comercio en línea de productos Apple.
          <br />Ofrecemos los últimos 
          modelos disponibles en el mercado actual.
        En nuestra tienda puedes encontrar:
         <br> celulares, ordenadores, relojes <br />y mucho más...</p>

    </div>
    <div class="col-4">
        <h2 class="mt-3 text-center">Novedades<h2>
        <div class="card bg-light rounded shadow-sm" style="border:1px solid #B3B6B7">
                <div class="card-body px-3 pt-3 pb-1 row">
                    <label class="text-center" style="font-size:20px">iPhone 13 Pro Max</label></>
              
                <img class="card-img-top img-fluid" src="~/imagenes/novedades/iphone13.png" alt="Imagen Card">
                

    </div>
    </div>
    <br />
    
        <div class="card bg-light rounded shadow-sm" style="border:1px solid #B3B6B7">
                <div class="card-body px-3 pt-3 pb-1 row">
                    <label class="text-center" style="font-size:20px"> Macbook Pro 2021</label></div>
                <img class="card-img-top img-fluid" src="~/imagenes/novedades/macbook.png" alt="Imagen Card">
                

    </div>


</>
