
@model iTechShop.Models.Producto

@{

    var titulo = "Eliminar producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Eliminar">

        <input asp-for="Id" hidden />
    }

    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <h2 class="text-danger">@titulo</h2>
            </div>
        <div class="row">
            <div class="col-7">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="NombreProducto" class="form-label">Nombre del producto</label>
                            <input asp-for="NombreProducto" disabled class="form-control" />
                            
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                            <label asp-for="Precio" class="form-label">Precio</label>
                            <input asp-for="Precio" disabled class="form-control" />
                           
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-md-6">
                            <label asp-for="DescripcionCorta" class="form-label">Descripción corta</label>
                            <input asp-for="DescripcionCorta" disabled class="form-control" />
                           
                        </div>
                      </div>
                      <div class="row" hidden>
                    <div class="col-md-6">
                            <label asp-for="DescripcionProducto" class="form-label">Descripción del producto</label>
                            <textarea asp-for="DescripcionProducto" class="form-control summernote"></textarea>
                           
                        </div>
                      </div>
                      <div class="row" hidden>
                    <div class="col-md-6">
                            <label asp-for="ImagenUrl" class="form-label">Imagen</label>
                            <input asp-for="ImagenUrl" class="form-control" />
                        </div>
                      </div>
                      <div class="row">
                    <div class="col-md-6">
                            <label asp-for="CategoriaId" class="form-label">Categoria</label>
                            <input asp-for="CategoriaId" hidden class="form-control" />
                            <input asp-for="CategoriaId" hidden class="form-control" />
                             
                            
           
                        </div>
                      </div>
                      <div class="col-md-6">
                            <label asp-for="TipoAplicacionId" class="form-label">Almacenamiento</label>
                            <input asp-for="TipoAplicacionId" hidden class="form-control" />
                            <input asp-for="TipoAplicacionId" hidden class="form-control" />
                             
                            
           
                        </div>
                      </div>

                      <br />

                      <div class="d-grid gap-2 d-md-block"></div>
                      
            
                        <button type="submit" onclick="return validarImagen()" class="btn btn-primary">Eliminar</button>
                    <a asp-controller="Producto" asp-action="Index" class="btn btn-success">Regresar</a>
                </div>
        
        <div class="col-5">
            @if(Model.Id != 0)
            {
                <img src="@WC.ImagenRuta@Model.ImagenUrl" width="100%" style="border-radius: 5px; border: 1px solid #bbbbbb"/>    

            }
            

        </div>
        </div>
        </div>

    


</form>

@section Scripts {
    @{<partial name="_ValidationScriptsPartial"/> }

    <script>

    $(document).ready(function(){
        $('.summernote').summernote(
        {
            height:250
        });


    });


    function validarImagen()
    {
        if(document.getElementById("imagenId").value==""){
            swal("Error","Seleccione una imagen", "error")
            return false;
        }
    }
    </script>

}

